.card

    form.card-body()

        .row
            .col-xs-4
                .form-group

                    label Escolaridade (anos)
                    input.form-control(type="number" ng-model="ctrl.dadosPaciente.escolaridade")

            .col-xs-4
                .form-group

                    label Idade (20 a 94)
                    input.form-control(type="number" ng-model="ctrl.dadosPaciente.idade" min="20" max="94")

            .col-xs-4
                .form-group

                    label Sexo
                    select.form-control(ng-model="ctrl.dadosPaciente.sexo")
                        option(value="0") Masculino
                        option(value="1" select) Feminino



.card
    .card-body
        .table-responsive

            table.table.table-bordered.table-striped

                thead
                    tr
                        th PD-CRS
                        th Escore
                        th Predito
                        th z
                        th T
                        th Percentil
                        th Classificação

                tbody

                    tr(ng-repeat="item in ctrl.items")
                        td {{item.nome}}
                        td
                            input.form-control(type="number" ng-model="item.escore" size="5")

                        td {{item.predito() | number : 0}}
                        td {{item.z() | number : 2}}
                        td {{item.t() | number : 0}}
                        td {{item.percentil() | number : 1}}
                        td {{item.classificacao() | classificacao}}
